//colors
$dark-grey: #35373d;
$highlight-color: #23f6f5;
$neutral-color: #fff;

@mixin article {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo-face {
        position: relative;
        width: 100%;
        height: 14em;

        .logo-overlay {
            position: absolute;
            z-index: 5;
            width: 100%;
            pointer-events: none;

            img {
                width: 60%;
                display: block;
                margin: 0 auto;
            }
        }

        .me-face {
            position: absolute;
            width: 100%;
            box-sizing: border-box;

            img {
                width: 60%;
                display: block;
                margin: 0 auto;
                filter: grayscale(1);
                transform: scale(1);
                transition: 15s transform linear;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }

    .text {
        width: 80%;
        margin: 0 auto 4em auto;

        p {
            font-family: roboto;
            font-weight: 100;
            text-align: justify;
            font-size: 1.25em;
            line-height: 1.25em;
            margin-bottom: 0.6em;

            a {
                color: $highlight-color;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}

@font-face {
    font-family: Anurati;
    src: url("/assets/fonts/anurati_font/Anurati-Regular.otf");
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

//General
h1 {
    position: relative;
    z-index: 20;
    color: $dark-grey;
    font-size: 2em;
    letter-spacing: 0.25em;
    text-shadow: 2px 2px 2px #23f6f5;
}

.wrapper {
    position: relative;
    font-family: Anurati;

    // Navigation Start
    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;

        .bars {
            position: fixed;
            top: 1em;
            right: 1em;
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 4em;
            height: 4em;
            cursor: pointer;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 3em;
            height: 0.25em;
            background-color: $highlight-color;
            border-radius: 15px;
            transition: 0.5s;
        }

        .change .bar1 {
            transform: rotate(45deg) translate(0.9em, 1em);
            color: $neutral-color;
        }

        .change .bar2 {
            opacity: 0;
            transform: scaleX(0);
            color: $neutral-color;
        }

        .change .bar3 {
            transform: rotate(-45deg) translate(0.9em, -1em);
            color: $neutral-color;
        }

        .opacity {
            opacity: 1;
            height: 100vh;
        }

        nav {
            position: absolute;
            z-index: 99;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background: rgba($color: $neutral-color, $alpha: 0.96);
            transition: 0.9s;

            ul {
                position: absolute;
                text-align: right;

                li {
                    position: relative;
                    font-family: Anurati;
                    font-weight: 400;
                    font-size: 2em;
                    line-height: 2.5em;
                    right: 200px;
                    opacity: 0;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: $highlight-color;
                }
            }
        }
    }
    //Navigation End

    //Home Section Start
    .section1 {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-image: url("/assets/images/annie-spratt-6a3nqQ1YwBw-unsplash.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        section {
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            overflow: hidden;

            .logo {
                height: 100vh;
                display: flex;
                justify-content: center;

                img {
                    width: 30vw;
                    height: auto;
                }
            }

            .portfolio {
                position: absolute;
                left: 0;
                bottom: 7em;
                animation: 1.5s ease-out 0s 1 slideInFromBottom;

                h1 {
                    color: $dark-grey;
                    font-size: 2.5em;
                    text-align: center;
                    padding-left: 0.7em;
                }
            }

            @keyframes slideInFromBottom {
                0% {
                    transform: translatey(19em);
                }
                100% {
                    transform: translatey(0);
                }
            }
        }
    }
    //Home Section End

    //Work Section Sart
    .section2 {
        height: 100vh;
        border: 2px solid red;

        h1 {
            padding: .1em 0 2em .1em;
        }
        .section-content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 3em;
            box-sizing: border-box;

            .section-header {
                flex: 0 0 40%;

                .paragraph{
                    width: 65vw;
                    margin: 0 auto;

                    p{
                        font-family: roboto;
                        font-size: 1.5em;
                        font-weight: 100;
                        text-align: justify;
                    }
                }
            }

            .carousel{
                border: 1px solid green;

                .carousel-cell{
                    overflow: hidden;
                    border: 3px solid $neutral-color;
                    border-style: inset;

                    img{
                        display: block;
                        flex: 0 0 60%;
                    }
                }
            }
        }
    }

    @media only screen and (min-width : 35em) {
    }
    
    
    
    /*for tablet - inclusive*/
    
    @media only screen and (min-width : 55em) {
        .section2 {
            display: flex;
            flex-direction: row;
            width: 100vw;
            overflow-y: scroll;
        }

        .left-column{
            flex: 0 0 50%;
        }

        .right-column{
            flex: 0 0 50%;
        }
    }
    
    
    
    /*for destop - inclusive*/
    
    @media only screen and (min-width : 75em) {
    }
    
    //Work Section End

    //About Section Start
    .section3 {
        @include article;

        h1 {
            padding: .1em 0 0 .1em;
        }
        .logo-face {
            .me-face {
                clip-path: inset(2.4em 7em 2.98em 4.75em);
                padding: 1em 0em 0 0;
                box-sizing: border-box;
            }
        }
    }
    //About Section End

    //Contact Section Start
    .section4 {
        background: linear-gradient(270deg, #5f6673, #292d3e);
        background-size: 600% 600%;
        animation: gradient 15s ease infinite;

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        h1 {
            color: $neutral-color;
            margin: .1em 0 0 .1em;
        }
        @include article;

        .logo-face {
            .me-face {
                clip-path: inset(2.4em 7em 1.7em 4.73em);
                padding: 1em 2em 0 0;
            }
        }

        .text {
            padding-bottom: 5em;
            box-sizing: border-box;

            p {
                color: $neutral-color;
                letter-spacing: 0.15em;

                a {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    //Contact Section End
}

//Back To Top
.back-to-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 100;
    color: #23f6f5;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: $dark-grey;

    .fas {
        color: #23f6f5;
    }

    span {
        font-family: "Roboto", sans-serif;
    }
}


//Kaihopara
.kaihopara{
    width: 100vw;
    font-family: Anurati;    

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .1em .1em 2em .1em;
        box-sizing: border-box;

        h1{
            flex: 0 0 80%;
        }

        a{

            .far{
                font-size: 2em;
                color: $dark-grey;
            }
        }
    }
}
