//colors
$dark-grey: #35373d;
$highlight-color: #23f6f5;
$neutral-color: #fff;

@mixin article{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo-face{
        position: relative;
        width: 100%;
        height: 14em;

        .logo-overlay{
            position: absolute;
            z-index: 5;
            width: 100%;
            pointer-events: none;
            border: 1px solid green;

            img{
                width: 60%;
                display: block;
                margin: 0 auto;
                border: 1px solid red;
            }
        }

        .me-face{
            position: absolute;
            width: 100%;
            box-sizing: border-box;

            img{
                width: 60%;
                display: block;
                margin: 0 auto;
                filter: grayscale(1);                
                transform: scale(1);
                transition: 15s transform linear;
    
                &:hover{
                    transform: scale(1.5); 
                }
            }
        }
    }



    .text {
        width: 80%;
        margin: 0 auto 4em auto;

        p{
            font-family: roboto;
            font-weight: 100;
            text-align: justify;
            font-size: 1.25em;
            line-height: 1.25em;
            margin-bottom: .6em;

            a{
                color: $highlight-color;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}

@font-face {
    font-family: Anurati;
    src: url("/assets/fonts/anurati_font/Anurati-Regular.otf");
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

.wrapper {
    position: relative;
    font-family: Anurati;

    // Navigation Start
    .nav-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;

        .bars {
            position: fixed;
            top: 1em;
            right: 1em;
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 4em;
            height: 4em;
            cursor: pointer;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 3em;
            height: 0.25em;
            background-color: $highlight-color;
            border-radius: 15px;
            transition: 0.5s;
        }

        .change .bar1 {
            transform: rotate(45deg) translate(.9em, 1em);
            color: $neutral-color;
        }

        .change .bar2 {
            opacity: 0;
            transform: scaleX(0);
            color: $neutral-color;
        }

        .change .bar3 {
            transform: rotate(-45deg) translate(.9em, -1em);
            color: $neutral-color;
        }

        .opacity {
            opacity: 1;
            height: 100vh;
        }

        nav {
            position: absolute;
            z-index: 99;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background: rgba($color: $neutral-color, $alpha: 0.25);
            transition: 0.9s;

            ul {
                position: absolute;
                text-align: right;

                li {
                    position: relative;
                    font-family: Anurati;
                    font-weight: 400;
                    font-size: 2em;
                    line-height: 2.5em;
                    right: 200px;
                    opacity: 0;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: $highlight-color;
                }
            }
        }
    }
    //Navigation End


    //Home Section Start
    .section1 {
        position: relative;
        width: 100vw;
        height: 100vh;
        // overflow: hidden;
        background-image: url("/assets/images/annie-spratt-6a3nqQ1YwBw-unsplash.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        section {
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;

            .logo {
                height: 100vh;
                display: flex;
                justify-content: center;

                img {
                    width: 30vw;
                    height: auto;
                }
            }

            .portfolio {
                position: absolute;
                bottom: 2em;
                left: 50%;
                transform: translateX(-50%);

                h1 {
                    font-family: Anurati;
                    color: $dark-grey;
                    font-size: 2em;
                    letter-spacing: 0.25em;
                }
            }
        }
    }
    //Home Section End


    //Work Section Sart
    .section2{
        font-family: Anurati;
        height: 100vh;
        overflow: hidden;

        .left-column{
            display: flex;
            flex-direction: column;
            
            h2{
                color: $dark-grey;
                font-size: 3em;
            }
        }

        .right-column{
            flex: 0 0 50%;
            height: 100vh;

            img{
                width: 100%;
                height: auto;
            }
        }
    }
    //Work Section End


    //About Section Start
    .section3{
        @include article;

        .logo-face{

            .me-face{
                clip-path: inset(2.4em 7em 2.98em 4.75em);
                padding: 1em 0em 0 0;
                box-sizing: border-box;
            }
        }
    }
    //About Section End


    //Contact Section Start
    .section4{
        color: white;
        background: repeating-linear-gradient(
          -55deg,
          #222,
          #222 10px,
          #333 10px,
          #333 20px
        );

        h1{
            color: $neutral-color;
            text-shadow: 2px 2px 2px #23f6f5;
        }
        @include article;

        .logo-face{

            .me-face{
                clip-path: inset(2.4em 7em 1.7em 4.65em);
                padding: 1em 2em 0 0;
            }
        }

        .text{
            padding-bottom: 5em;
            box-sizing: border-box;

            p{
                color: $neutral-color;

                a{
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    //Contact Section End
}

//Back To Top
.back-to-top{
        position: fixed;
        bottom: 1em;
        right: 1em;
        z-index: 100;
        color: #23f6f5;
        padding: .5em;
        border-radius: .5em;
        background-color: $dark-grey;

        .fas{
            color: #23f6f5;
        }

        span{
            font-family: 'Roboto', sans-serif;
        }
}