//colors
$dark-grey: #35373d;
$highlight-color: #23f6f5;
$neutral-color: #fff;

@import 'breakpoints';

@mixin article {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .logo-face {
        position: relative;
        width: 100%;
        height: 14em;

        .logo-overlay {
            position: absolute;
            z-index: 5;
            width: 100%;
            pointer-events: none;

            img {
                width: 60%;
                display: block;
                margin: 0 auto;
            }
        }

        .me-face {
            position: absolute;
            width: 100%;
            box-sizing: border-box;

            img {
                width: 60%;
                display: block;
                margin: 0 auto;
                filter: grayscale(1);
                transform: scale(1);
                transition: 15s transform linear;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }

    .text {
        width: 80%;
        margin: 0 auto;

        p {
            font-family: roboto;
            font-weight: 100;
            text-align: justify;
            font-size: 1.25em;
            line-height: 1.25em;
            margin-bottom: 0.6em;

            a {
                color: $highlight-color;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}

@font-face {
    font-family: Anurati;
    src: url("/assets/fonts/anurati_font/Anurati-Regular.otf");
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

//General
h1 {
    position: relative;
    z-index: 20;
    color: $dark-grey;
    font-size: 2em;
    letter-spacing: 0.25em;
    text-shadow: 2px 2px 2px #23f6f5;
}

.wrapper {
    position: relative;
    font-family: Anurati;

    // Navigation Start
    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;

        .bars {
            position: fixed;
            top: 1em;
            right: 1em;
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 4em;
            height: 4em;
            cursor: pointer;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 3em;
            height: 0.25em;
            background-color: $highlight-color;
            border-radius: 15px;
            transition: 0.5s;
        }

        .change .bar1 {
            transform: rotate(45deg) translate(0.9em, 1em);
            color: $neutral-color;
        }

        .change .bar2 {
            opacity: 0;
            transform: scaleX(0);
            color: $neutral-color;
        }

        .change .bar3 {
            transform: rotate(-45deg) translate(0.9em, -1em);
            color: $neutral-color;
        }

        .opacity {
            opacity: 1;
            height: 100vh;
        }

        nav {
            position: absolute;
            z-index: 99;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background: rgba($color: $neutral-color, $alpha: 0.96);
            transition: 0.9s;

            ul {
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    position: relative;
                    font-family: Anurati;
                    font-weight: 400;
                    font-size: 2em;
                    line-height: 2.5em;
                    opacity: 0;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: $highlight-color;
                }
            }
        }
    }
    //Navigation End

    //Home Section Start
    .section1 {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-image: url("/assets/images/annie-spratt-6a3nqQ1YwBw-unsplash.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        section {
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden;

            .logo {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                img {
                    width: 30vw;
                    height: auto;
                    margin-top: 10em;
                }
            }

            .portfolio {
                position: relative;
                left: 0;
                bottom: 17em;
                animation: 1.5s ease-out 0s 1 slideInFromBottom;

                h1 {
                    color: $dark-grey;
                    font-size: 2.5em;
                    text-align: center;
                    padding-left: 0.7em;
                }
            }

            @keyframes slideInFromBottom {
                0% {
                    transform: translatey(19em);
                }
                100% {
                    transform: translatey(0);
                }
            }
        }
    }
    //Home Section End

    //Work Section Sart
    .section2 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100vw;

        h1 {
            padding: .1em 0 0 .1em;
        }

        .section-header {
            position: relative  ;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;


            p{
                font-family: roboto;
                font-size: 1.5em;
                font-weight: 100;
                color: $dark-grey;

                span{
                    color: $highlight-color;
                    font-size: 1em;
                }
            }
        }

        .work-collection{
            height: 300vh;

            .work{
                position: relative;
                height: 100vh;
                font-family: roboto;
                border-top: .1px solid $neutral-color;

                .work-samples{
                    height: 100%;
                    width: 100%;
                    filter: grayscale(100%) brightness(50%);
                }

                .learn-more{
                    position: absolute;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    transition: all 4s;

                    .learn-more-content{
                        color: #fff;
                        text-align: center;
                        width: fit-content;
                        margin: 0 auto;
                        padding: 1em;
                        border-radius: 5px;
                        letter-spacing: .25em;
                        text-transform: uppercase;
                        background-color: rgba($color: $highlight-color, $alpha: .8);
                        
                        h4{
                            margin-top: 2em;
                        }
                    }

                    .learn-more-bottom{

                        .work-sample-logo{
                            position: relative;
                            width: 2.5em;
                            display: block;
                            margin: 0 auto;
                            background-color: #292d3e;
                            filter: none;
                            border-radius: 50%;
                        }
    
                        h4{
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            padding: 1em .25em;
                            text-transform: uppercase;
                            font-size: 1em;
                            font-weight: 400;
                            color: #fff;
                        }
                    }
                }

               .work-collection-description{
                    position: absolute;
                    z-index: 150;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    background-color: rgba($color: #5f6673, $alpha: 1);
                    transition: linear 1s;

                    h3{
                        font-size: 3em;
                        color: $neutral-color;
                        font-family: Anurati;
                        text-transform: uppercase;

                    }

                    p{
                        width: 70vw;
                        margin: 0 auto;
                        color: $neutral-color;
                        font-size: 1.5em;
                        font-weight: 100;
                        line-height: 1.25em;
                    }

                    .fas{
                        font-size: 3em;
                        position: relative;
                        z-index: 200;
                        color: $neutral-color;
                        width: 100%;
                        text-align: center;
                    }

                    .learn-more-come-in{
                        transform: translateX(100%);
                    }
               }

                @include respond-to('bp2'){
                    width: 50%;
                }
            }

            @include respond-to('bp2'){
                display: flex;
                flex-wrap: wrap;
            }
        }

    }

    .see{
        opacity: 1;
    }

    //Work Section End

    //About Section Start
    .section3 {
        @include article;

        h1 {
            padding: .1em 0 0 .1em;
        }
        .logo-face {
            .me-face {
                clip-path: inset(2.4em 7em 2.98em 4.75em);
                padding: 1em 0em 0 0;
                box-sizing: border-box;
            }
        }
    }
    //About Section End

    //Contact Section Start
    .section4 {
        background: linear-gradient(270deg, #5f6673, #292d3e);
        background-size: 600% 600%;
        animation: gradient 15s ease infinite;

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        h1 {
            color: $neutral-color;
            margin: .1em 0 0 .1em;
        }
        @include article;

        .logo-face {
            .me-face {
                clip-path: inset(2.4em 7em 1.7em 4.73em);
                padding: 1em 2em 0 0;
            }
        }

        .text {
            padding-bottom: 5em;
            box-sizing: border-box;

            p {
                color: $neutral-color;
                letter-spacing: 0.15em;

                a {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    //Contact Section End
}

//Back To Top
.back-to-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 100;
    color: #23f6f5;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: $dark-grey;

    .fas {
        color: #23f6f5;
    }

    span {
        font-family: "Roboto", sans-serif;
    }
}


//Kaihopara
// .kaihopara{
//     width: 100vw;
//     font-family: Anurati;    

//     header{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: .1em .1em 2em .1em;
//         box-sizing: border-box;

//         h1{
//             flex: 0 0 80%;
//         }

//         a{

//             .far{
//                 font-size: 2em;
//                 color: $dark-grey;
//             }
//         }
//     }
// }




//For image sizing
.cover-top{
    object-fit: cover;
    object-position: top;
}

.cover-bottom{
    object-fit: cover;
    object-position: bottom;
}

.cover-center{
    object-fit: cover;
    object-position: center;
}

.fill-top{
    object-fit: fill;
    object-position: top;
}