/*for mobile - inclusive*/
/*for tablet - inclusive*/
/*for destop - inclusive*/
@font-face {
  font-family: Anurati;
  src: url("/assets/fonts/anurati_font/Anurati-Regular.otf");
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}

h1 {
  position: relative;
  z-index: 20;
  color: #35373d;
  font-size: 2em;
  letter-spacing: 0.25em;
  text-shadow: 2px 2px 2px #23f6f5;
}

.wrapper {
  position: relative;
  font-family: Anurati;
}

.wrapper .nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.wrapper .nav-wrapper .bars {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4em;
  height: 4em;
  cursor: pointer;
}

.wrapper .nav-wrapper .bar1,
.wrapper .nav-wrapper .bar2,
.wrapper .nav-wrapper .bar3 {
  width: 3em;
  height: 0.25em;
  background-color: #23f6f5;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .nav-wrapper .change .bar1 {
  -webkit-transform: rotate(45deg) translate(0.9em, 1em);
          transform: rotate(45deg) translate(0.9em, 1em);
  color: #fff;
}

.wrapper .nav-wrapper .change .bar2 {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  color: #fff;
}

.wrapper .nav-wrapper .change .bar3 {
  -webkit-transform: rotate(-45deg) translate(0.9em, -1em);
          transform: rotate(-45deg) translate(0.9em, -1em);
  color: #fff;
}

.wrapper .nav-wrapper .opacity {
  opacity: 1;
  height: 100vh;
}

.wrapper .nav-wrapper nav {
  position: absolute;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.96);
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.wrapper .nav-wrapper nav ul {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .nav-wrapper nav ul li {
  position: relative;
  font-family: Anurati;
  font-weight: 400;
  font-size: 2em;
  line-height: 2.5em;
  opacity: 0;
}

.wrapper .nav-wrapper nav ul a {
  display: block;
  text-decoration: none;
  color: #23f6f5;
}

.wrapper .section1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/annie-spratt-6a3nqQ1YwBw-unsplash.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper .section1 section {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.wrapper .section1 section .logo {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper .section1 section .logo img {
  width: 30vw;
  height: auto;
  margin-top: 10em;
}

.wrapper .section1 section .portfolio {
  position: relative;
  left: 0;
  bottom: 17em;
  -webkit-animation: 1.5s ease-out 0s 1 slideInFromBottom;
          animation: 1.5s ease-out 0s 1 slideInFromBottom;
}

.wrapper .section1 section .portfolio h1 {
  color: #35373d;
  font-size: 2.5em;
  text-align: center;
  padding-left: 0.7em;
}

@-webkit-keyframes slideInFromBottom {
  0% {
    -webkit-transform: translatey(19em);
            transform: translatey(19em);
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translatey(19em);
            transform: translatey(19em);
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

.wrapper .section2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

.wrapper .section2 h1 {
  padding: .1em 0 0 .1em;
}

.wrapper .section2 .section-header {
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .section2 .section-header p {
  font-family: roboto;
  font-size: 1.5em;
  font-weight: 100;
  color: #35373d;
}

.wrapper .section2 .section-header p span {
  color: #23f6f5;
  font-size: 1em;
}

.wrapper .section2 .work-collection {
  height: 300vh;
}

.wrapper .section2 .work-collection .work {
  position: relative;
  height: 100vh;
  font-family: roboto;
  border-top: 0.1px solid #fff;
}

.wrapper .section2 .work-collection .work .work-samples {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(100%) brightness(50%);
          filter: grayscale(100%) brightness(50%);
}

.wrapper .section2 .work-collection .work .learn-more {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.wrapper .section2 .work-collection .work .learn-more .learn-more-content {
  color: #fff;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 1em;
  border-radius: 5px;
  letter-spacing: .25em;
  text-transform: uppercase;
  background-color: rgba(35, 246, 245, 0.8);
}

.wrapper .section2 .work-collection .work .learn-more .learn-more-content h4 {
  margin-top: 2em;
}

.wrapper .section2 .work-collection .work .learn-more .learn-more-bottom .work-sample-logo {
  position: relative;
  width: 2.5em;
  display: block;
  margin: 0 auto;
  background-color: #292d3e;
  -webkit-filter: none;
          filter: none;
  border-radius: 50%;
}

.wrapper .section2 .work-collection .work .learn-more .learn-more-bottom h4 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1em .25em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}

.wrapper .section2 .work-collection .work .work-collection-description {
  position: absolute;
  z-index: 150;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #5f6673;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

.wrapper .section2 .work-collection .work .work-collection-description h3 {
  font-size: 3em;
  color: #fff;
  font-family: Anurati;
  text-transform: uppercase;
}

.wrapper .section2 .work-collection .work .work-collection-description p {
  width: 70vw;
  margin: 0 auto;
  color: #fff;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.25em;
}

.wrapper .section2 .work-collection .work .work-collection-description .fas {
  font-size: 3em;
  position: relative;
  z-index: 200;
  color: #fff;
  width: 100%;
  text-align: center;
}

.wrapper .section2 .work-collection .work .work-collection-description .learn-more-come-in {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (min-width: 55em) {
  .wrapper .section2 .work-collection .work {
    width: 50%;
  }
}

@media (min-width: 55em) {
  .wrapper .section2 .work-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.wrapper .see {
  opacity: 1;
}

.wrapper .section3 {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .section3 .logo-face {
  position: relative;
  width: 100%;
  height: 14em;
}

.wrapper .section3 .logo-face .logo-overlay {
  position: absolute;
  z-index: 5;
  width: 100%;
  pointer-events: none;
}

.wrapper .section3 .logo-face .logo-overlay img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.wrapper .section3 .logo-face .me-face {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .section3 .logo-face .me-face img {
  width: 60%;
  display: block;
  margin: 0 auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 15s -webkit-transform linear;
  transition: 15s -webkit-transform linear;
  transition: 15s transform linear;
  transition: 15s transform linear, 15s -webkit-transform linear;
}

.wrapper .section3 .logo-face .me-face img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.wrapper .section3 .text {
  width: 80%;
  margin: 0 auto;
}

.wrapper .section3 .text p {
  font-family: roboto;
  font-weight: 100;
  text-align: justify;
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 0.6em;
}

.wrapper .section3 .text p a {
  color: #23f6f5;
  font-weight: 700;
  text-decoration: none;
}

.wrapper .section3 h1 {
  padding: .1em 0 0 .1em;
}

.wrapper .section3 .logo-face .me-face {
  -webkit-clip-path: inset(2.4em 7em 2.98em 4.75em);
          clip-path: inset(2.4em 7em 2.98em 4.75em);
  padding: 1em 0em 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .section4 {
  background: -webkit-gradient(linear, right top, left top, from(#5f6673), to(#292d3e));
  background: linear-gradient(270deg, #5f6673, #292d3e);
  background-size: 600% 600%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper .section4 h1 {
  color: #fff;
  margin: .1em 0 0 .1em;
}

.wrapper .section4 .logo-face {
  position: relative;
  width: 100%;
  height: 14em;
}

.wrapper .section4 .logo-face .logo-overlay {
  position: absolute;
  z-index: 5;
  width: 100%;
  pointer-events: none;
}

.wrapper .section4 .logo-face .logo-overlay img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.wrapper .section4 .logo-face .me-face {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .section4 .logo-face .me-face img {
  width: 60%;
  display: block;
  margin: 0 auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 15s -webkit-transform linear;
  transition: 15s -webkit-transform linear;
  transition: 15s transform linear;
  transition: 15s transform linear, 15s -webkit-transform linear;
}

.wrapper .section4 .logo-face .me-face img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.wrapper .section4 .text {
  width: 80%;
  margin: 0 auto;
}

.wrapper .section4 .text p {
  font-family: roboto;
  font-weight: 100;
  text-align: justify;
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 0.6em;
}

.wrapper .section4 .text p a {
  color: #23f6f5;
  font-weight: 700;
  text-decoration: none;
}

.wrapper .section4 .logo-face .me-face {
  -webkit-clip-path: inset(2.4em 7em 1.7em 4.73em);
          clip-path: inset(2.4em 7em 1.7em 4.73em);
  padding: 1em 2em 0 0;
}

.wrapper .section4 .text {
  padding-bottom: 5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .section4 .text p {
  color: #fff;
  letter-spacing: 0.15em;
}

.wrapper .section4 .text p a {
  display: block;
  text-align: center;
}

.back-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 100;
  color: #23f6f5;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #35373d;
}

.back-to-top .fas {
  color: #23f6f5;
}

.back-to-top span {
  font-family: "Roboto", sans-serif;
}

.cover-top {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.cover-bottom {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.cover-center {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.fill-top {
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: top;
     object-position: top;
}
/*# sourceMappingURL=style.css.map */